@font-face {
  font-family: "InterRegular";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --cyan: rgba(53, 184, 190, 1);
  --electricBlue: rgba(84, 98, 133, 1);
  --blueBorder: rgba(97, 114, 131, 0.8);
  --vampireBlack: rgba(8, 9, 10, 1);
  --white: rgba(255, 255, 255, 1);
  --ground: rgba(245, 251, 252, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*font-family: 'Inter', sans-serif;*/

.section {
  background-color: var(--ground);
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 140px 10px;
}

.section--header {
  margin-bottom: 40px;
}

.section__title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 26px;
}
.section__title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 54px;
  letter-spacing: 1.64px;
  color: var(--cyan);
}

.section__subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
}

.section__subtitle p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.36px;
  color: var(--electricBlue);
  max-width: 460px;
}

.section__subtitle span {
  color: var(--cyan);
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav__item {
  margin-left: 30px;
  background-color: var(--white);
  font-family: "Inter", sans-serif;
  border: 2px solid var(--blueBorder);
  border-radius: 16px;
  padding: 16px 46px;
  color: var(--vampireBlack);

  transition: linear 0.3s;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:hover {
  color: var(--white);
  background-color: var(--cyan);
  border-color: var(--cyan);

  cursor: pointer;
}

.active {
  color: var(--white);
  background-color: var(--cyan);
  border-color: var(--cyan);
}

.main--section__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--vampireBlack);
  margin-bottom: 44px;
}

.item {
  font-family: "Inter", sans-serif;
  display: flex;
  max-width: 580px;
  padding: 24px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  border-radius: 6px;
}

.item__img {
  margin-right: 30px;
}

.item__img img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 6px;
}

.item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.item__title h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.item--price {
  color: var(--cyan);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.item__info {
  margin-bottom: 8px;
  max-width: 350px;
}

.item__info p {
  color: var(--electricBlue);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

input[type="text"] {
  padding: 8px 10px;
  max-width: 64px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #dddddd;
  margin-right: 8px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
}

input[type="submit"] {
  color: var(--vampireBlack);
  background-color: var(--cyan);
  padding: 8px 10px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--cyan);
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;

  transition: linear 0.3s;
}

input[type="submit"]:hover {
  color: var(--white);
  cursor: pointer;
}

.section--footer {
  display: flex;
  justify-content: center;
}

.footer__btn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  padding: 18px 34px;
  color: var(--white);
  background-color: var(--cyan);
  border: 2px solid transparent;
  border-radius: 6px;

  transition: linear 0.3s;
}

.footer__btn:hover {
  background-color: var(--white);
  color: var(--vampireBlack);
  border-color: var(--blueBorder);
}

@media all and (max-width: 580px) {
  .wrapper {
    min-width: 310px;
    padding: 80px 10px;
  }

  .nav {
    flex-direction: column;
  }

  .nav__item {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .item {
    max-width: 320px;
    flex-direction: column;
  }

  .item__img {
    margin: 0;
    margin-bottom: 15px;
    align-self: center;
  }

  .item__img img {
    max-width: 200px;
    max-height: 200px;
  }

  .item__title h2 {
    font-size: 20px;
  }
}
